* {
    background-color:cornsilk;
    color: black;
    font-family: "Poppins", sans-serif;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.heading {
    font-weight: 800;
    padding-left: 50px;
}

.container > * {
    padding: 50px;
}

.ui {
    border: solid goldenrod 2px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.upper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.buttons > * {
    padding: 12px 4px;
    width: 250px;
    border-color: black;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.2s;
}

.pen:hover {
    background-color: black;
    color: cornsilk;
    transform: scale(1.1);
}

.pen:active {
    transform: scale(0.9);
    background-color:grey;
    transition-timing-function: ease-out;
}

.grid {
    border: solid goldenrod 25px;
    height: 750px;
    width: 750px;
    display: grid;
}

.grid > * {
    cursor: cell;
}
